@import '~nprogress/nprogress.css';
@import '~vue3-carousel/dist/carousel.css';
body{
    background-color: #F3F6F9;}

#nprogress .bar {
    height: 2px;
}


.sidebar-hover:hover{
    background-color: rgba(230, 236, 242, 0.42);
}
.sidebar-hover:active{
    background-color: #E6ECF2;
}
.sidebar-active{
    background-color: #E6ECF2;
}
.search-input-bg {
    background-color: #DDE5EE;
}
.header-title {
    font-weight: 720;
    font-size: 22px;
    line-height: 28px;
    color: #222222;
}
.header-title-lg {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #222222;
}
.carousel__prev--in-active,
.carousel__next--in-active {
    display: none;
}
.carousel__next,
.carousel__prev {
    background-color: #ffffff;
    color: #222222;
    width: 2.5rem;
    height: 2.5rem;
}
.carousel__pagination-button {
    background-color: #56aaff;
}
.carousel__pagination-button--active {
    background-color: #006dff;
}
.card-gradient {
    background: linear-gradient(180deg, rgba(170, 208, 253, 0) 27.4%, rgba(170, 208, 253, 0) 27.4%, #aad0fd 89.79%);
    border-radius: 0.25rem;
}